html,body{
	margin: 0;
	padding: 0;
}
#map23dcontainer{
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
}

#m2dcontainer,#m3dcontainer{
	width: 50%;
	height: 100%;
	float:left;
}


#leafletContainer,#cesiumContainer{
	width: 100%;
	height: 100%;
}

.leaflet-control-attribution{
	display: none;
}
